.user-info-main {
    background-color: #f1f7f7;
    padding-top: 5px;
    height: 100%;
  }
  
  .user-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }
  
  .back-icon {
    top: 10px;
    left: 20px;
    margin-left: 10px;
    display: flex;
    font-size: 20px;
  }
  .head {
    text-align: center;
    margin-left: 5%;
    font-size: 20px;
    margin-top: 8px;
  }
  
  .head p {
    margin-top: 10px;
    font-weight: 500;
  }

  .user-card {
    background-color: #fff;
    border-radius: 8px;
    margin: 10px 18px;
    width: 90%;
    padding: 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    
  }
  .card-content:not(:last-child) {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px; 
    margin-bottom: 10px; 
  }
  .profile-section {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .profile-section h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
  }
  
  .profile-section p {
    margin: 5px 0 0 0;
    color: #666;
    font-size: 14px;
  }
  .custom-button  {
    text-transform: none;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #d5d0d0ab;
    color: #04B56C;
    margin-left: auto; 
  }
  /* Modal overlay styling */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
/* Modal content styling */
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.confirm-button {
  background-color: #04B56C;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 0;
}
.confirm-button:hover {
  background-color: darkgreen;
}
input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.disabled {
  background-color: lightgrey;
  cursor: not-allowed;
}