<div class="my-sub-header">
  <div class="back-icon" (click)="goBack()">
    <i class="fas fa-chevron-left"></i>
  </div>
  <div class="head">
    <p>My Subscription</p>
  </div>
</div>
<div class="my-sub-main">
  <div *ngIf="hasSubscriptionData; else noSubscriptionTemplate">
    <div class="product-card">
      <div class="products-main">
        <div class="product-image">
          <img [src]="subscriptionData.images[0]" alt="Product Image">
          <button class="side-button">20% off</button>
        </div>
        <div class="product-details">
          <h6>Cow Milk</h6>
          <p class="subtext">450ml</p>
          <div class="qty-div">
            <p>Qty: {{ quantity }}</p>
          </div>
          <div class="price-edit">
            <div class="add">
              <p><strong>₹{{ subscriptionData.price }}</strong> <span>₹45.50</span></p>
            </div>
            <button class="edit-button" [routerLink]="['/subscription']">Edit</button>
          </div>
        </div>
      </div>
      <div class="additional-cards">
        <div class="offer-card">
          <div class="offer-details">
            <h6>You are saving <span style="color: #04B56C;">$18.55</span> (40% OFF) with <strong style="color: #04B56C;">VIP</strong></h6>
          </div>
        </div>
        <div class="grey-card">
          <p>Offer applicable on max 2 units.</p>
        </div>
        <div class="dotted-card">
          <div class="dot-card-details">
            <img src="https://cdn-icons-png.freepik.com/512/3960/3960581.png?ga=GA1.1.1335550155.1713184366" alt="Icon">
            <div class="text-details">
              <p><strong>Order for 5 Days, get next 5 Days Free</strong></p>
            </div>
            <p class="saved-amount"><strong>Know More</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noSubscriptionTemplate>
    <div class="my-sub-horizontal-card">
      <img src="https://img.freepik.com/free-vector/gnome-lying-stump-infront-blank-banner-cartoon-style-white-background_1308-44417.jpg?w=740&t=st=1715572279~exp=1715572879~hmac=2f14a902b1aca6169f80dcdf71b2f26e5dccea3f315eecff33f8a2a6914895b5">
      <div class="my-sub-card-details">
        <h6><strong>No Subscriptions</strong></h6>
        <p>Card Description Lorem ipsum dolor sit amet, 
          Nullam accumsan eu in dui.</p>
      </div>
    </div>
  </ng-template>
</div>
