
.my-sub-main{
    background-color: #f1f7f7;
    padding-top: 5px;
    height: 100%;
}
.my-sub-header {
    display: flex;
    align-items: center;
        padding: 10px 20px;
}

.back-icon { 
    top: 10px;
    left: 20px;
    margin-left: 10px;
    display: flex;
    font-size: 20px;
  }
  .head {
    text-align: center;
    margin-left: 5%;
    font-size: 20px;
    margin-top: 8px;
  }
  
  .head p {
    margin-top: 10px;
    font-weight: 500;
  }
.my-sub-horizontal-card {
    display: flex;
    align-items: center;
    margin: 20px 10px;
    padding: 15px;
    border: 1px solid #83bddd;
    background-color: #e2f4ff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.my-sub-horizontal-card img {
    width: 30%;
    border-radius: 25px;
    height: auto;
    margin-right: 12px;
}
.my-sub-card-details {
    flex-grow: 1;
}
.my-sub-card-details h2 {
    margin: 0;
}
.my-sub-card-details p {
    margin-top: 5px;
}
.my-sub-header button {
   background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.mat-icon{
    width: 30px;
    height: auto;
}
.my-sub-header button:hover {
    transform: scale(1.1);
}
.product-card {
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    flex-direction: column;
    margin: 15px;
    width: 92%;
}
.product-image {
    flex: 0 0 auto;
    width: 30%; 
    position: relative;
}
.product-image img {
    width: 80%;
    height: auto;
    margin:20px 0 0 10px;
}
.product-details {
    flex: 1;
    padding: 10px;
}
.product-details h6{
    margin: 0;
}
.subtext{
    font-size: 12px;
    margin-bottom: 0;
    color: lightgray;
}
.products-main{
    display: flex;
    align-items: center;
    background-color: white;
    padding-top: 5px;
}
.product-details p {
    margin: 0;
    font-size: 12px;
}
.product-details span {
    color: lightgray;
    text-decoration: line-through;
    font-size: 12px;    
    margin-left: 8px;
}
.product-details p strong {
    font-weight: bold;
}
.price-edit{
    display: flex;
    align-items: center;
    gap: 6.4rem;
    /* justify-content: space-between; */
}

.edit-button {
    background-color: #04B56C;
    color: #fff;
    border: none;
    padding: 6px 20px;
    border-radius: 8px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.edit-button:hover {
    background-color: #07aa66;
}
.offer-card {
    width: 93%;
    padding: 6px;
    margin: 10px auto;
    background: linear-gradient(to right, #f9f8f14f, #f5e97357, #f6c3184a);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  .offer-details h6{
    font-size: 14px;
    margin: 0 5px;
    font-weight: bold;
    }
    .offer-card p{
      margin: 0;
    }
   
   .grey-card p{
    margin: 0;
    font-size: 14px;
    color: grey
  }
  .grey-card{
    width: 93%;
    padding: 2px;
    text-align: center;
    margin: 8px auto;
    border-radius: 5px;
    background-color: rgb(211, 202, 202);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  }
 
  .dotted-card {
    border: 1px dashed #04B56C;
    background: linear-gradient(45deg, #04b56c73, white);
    padding: 2px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 93%;
    margin: 13px auto;
}
.dot-card-details {
    display: flex;
    align-items: center;
    padding: 5px;
}
.dot-card-details img {
  width: 30px;
  height: 30px;
  margin-right: 11px;
}
.text-details{
  text-align: center;
}
.text-details p {
  font-size: 13px;
  margin: 0;
  color: #333;
}
.saved-amount {
    margin: 0;
    color: #04B56C;
    cursor: pointer;
    font-size: 13px;
}


.additional-cards{
    background-color: white;
}
.side-button {
    position: absolute;
    left: 10px;
    top: 1px;
    z-index: 1;
    background: linear-gradient(135deg, #fbeebf 0%, #f7e7ab4a 100%);
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    padding: 2px 5px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  .qty-div{
    font-weight: 500;
    width: 80px;
    background-color: #f1f7f7;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 12px;
  }

