
.my-sub-main{
    background-color: #f1f7f7;
    padding-top: 5px;
    height: 100%;
}
.my-sub-header {
    display: flex;
    align-items: center;
        padding: 10px 20px;
}

.back-icon { 
    top: 10px;
    left: 20px;
    margin-left: 10px;
    display: flex;
    font-size: 20px;
  }
  .head {
    text-align: center;
    margin-left: 5%;
    font-size: 20px;
    margin-top: 8px;
  }
  
  .head p {
    margin-top: 10px;
    font-weight: 500;
  }
.my-sub-horizontal-card {
    display: flex;
    align-items: center;
    margin: 20px 15px;
    padding: 15px;
    border: 1px solid #83bddd;
    background-color: #e2f4ff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.my-sub-horizontal-card img {
    width: 30%;
    border-radius: 25px;
    height: auto;
    margin-right: 12px;
}
.my-sub-card-details {
    flex-grow: 1;
}
.my-sub-card-details h2 {
    margin: 0;
}
.my-sub-card-details p {
    margin-top: 5px;
}
.my-sub-header button {
   background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.mat-icon{
    width: 30px;
    height: auto;
}
.my-sub-header button:hover {
    transform: scale(1.1);
}
.product-card {
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    flex-direction: column;
    margin: 15px;
    width: 92%;
}
.product-image {
    flex: 0 0 auto;
    width: 30%; 
    position: relative;
}
.product-image img {
    width: 80%;
    height: auto;
    margin:20px 0 0 10px;
}
.product-details {
    flex: 1;
    padding: 10px;
}
.product-details h6{
    margin: 0;
}
.subtext{
    font-size: 12px;
    margin-bottom: 0;
    color: lightgray;
}
.products-main{
    display: flex;
    align-items: center;
    background-color: white;
    padding-top: 5px;
}
.product-details p {
    margin: 5px auto;
    font-size: 12px;
}
.product-details span {
    color: lightgray;
    text-decoration: line-through;
    font-size: 12px;    
    margin-left: 8px;
}
.product-details p strong {
    font-weight: bold;
}
.price-edit{
    display: flex;
    align-items: center;
    /* gap: 6.4rem; */
}

.edit-button {
    background-color: #04B56C;
    color: #fff;
    border: none;
    padding: 8px 25px;
    border-radius: 8px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 7em;
}
.edit-button:hover {
    background-color: #07aa66;
}
.offer-card {
    width: 95%;
    padding: 6px;
    margin: 5px auto;
    background:linear-gradient(to right, #f7f7f34f, #f5ed9d8f, #f7d66796);
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
  
}
.offer-details h6{
    margin-bottom: 0;
}
.offer-card p{
    margin: 0;
}

    .grey-card p{
      margin: 0;
      font-size: 12px;
      color: grey
    }
    .grey-card{
      width: 95%;
      padding: 5px;
      text-align: center;
      margin: 8px auto;
      border-radius: 10px;
      background-color:#E2ECEB;
    }
 
  .dotted-card {
    border: 1px dashed #04B56C;
    background: linear-gradient(to right, #04b56c73, white);
    padding: 2px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 95%;
    margin: 10px auto;
  }
  .dot-card-details {
    display: flex;
    align-items: center;
  }
  .dot-card-details span{
    font-size: 14px;
    font-weight: 500;
  }
  .text-details p{
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 600;
  }
  .dot-card-details img {
  width: 40px;
  height: 40px;
  margin-right: 11px;
  }
  .saved-amount {
    margin: 0;
    color: #04B56C;
    cursor: pointer;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    margin-left: 10px;
  }
  


.additional-cards{
    background-color: white;
}
.side-button {
    position: absolute;
    left: 10px;
    top: -3px;
    z-index: 1;
    background: linear-gradient(135deg, #fbeebf 0%, #f7e7ab4a 100%);
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    padding: 2px 5px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  .qty-div{
    font-weight: 500;
    width: 80px;
    background-color: #f1f7f7;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 12px;
  }

