
<div class="my-sub-header">
    <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
          <h3>My Subscriptions</h3>
</div>
<div class="my-sub-main">
    
<div *ngIf="hasSubscriptionData; else noSubscriptionTemplate">
    <div class="product-card">
      <div class="products-main">
        <div class="product-image">
          <img [src]="subscriptionData.images[0]" alt="Product Image">
        </div>
        <div class="product-details">
          <h6><strong>Cow Milk</strong></h6>
          <p>450ml</p>
          <div class="add">
            <p><strong>₹{{ subscriptionData.price }}</strong> <span>₹45.50</span></p>
          </div>
          <button class="edit-button" [routerLink]="['/subscription']">Edit</button>
        
        </div>
      </div>
  
      <div class="additional-cards"> 
        <div class="offer-card">
          <div class="offer-details">
            <p><strong>You are saving <span style="color: #04B56C;">$18.55</span> with VIP</strong></p>
          </div>
        </div>
       
        <div class="grey-card">
          <p>Offer applicable on max 2 units.</p>
        </div>
   
        <div class="line-above"></div>
        <div class="dotted-card">
          <div class="dot-card-details">
            <img src="https://cdn-icons-png.freepik.com/512/3960/3960581.png?ga=GA1.1.1335550155.1713184366" alt="Icon">
            <div class="text-details">
              <h6><strong>100% off on every delivery after 5 deliveries</strong></h6>
            </div>
            <p class="saved-amount"><strong>Know More</strong></p>
          </div>
        </div>
      </div> 
    </div>
  </div>
  
  <ng-template #noSubscriptionTemplate>
    <div class="my-sub-horizontal-card">
      <img src="https://img.freepik.com/free-vector/gnome-lying-stump-infront-blank-banner-cartoon-style-white-background_1308-44417.jpg?w=740&t=st=1715572279~exp=1715572879~hmac=2f14a902b1aca6169f80dcdf71b2f26e5dccea3f315eecff33f8a2a6914895b5">
      <div class="my-sub-card-details">
        <h6><strong>No Subscriptions</strong></h6>
        <p>Card Description Lorem ipsum dolor sit amet, 
          Nullam accumsan eu in dui.</p>
      </div>
    </div>
  </ng-template>
  
</div>