<div class="container">
  <div class="back-icon" (click)="goBack()">
    <i class="fas fa-chevron-left"></i>
  </div>
  <div *ngIf="showCancellationPopup" class="modal-overlay" (click)="goBack()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <p>Do you want to enter mobile number again?</p>
      <div class="button-container">
        <button class="confirm-button" (click)="closeCancellationPopup()">No</button>
        <button class="yes-button" [routerLink]="['/login']">Yes</button>
      </div>
    </div>
  </div>
  <div class="OTP-verify">
    <h3>OTP Verification</h3>
    <p>We have sent a Verification code to +91{{ mobileNumber }}</p>
    <div class="otp-input">
      <input type="text" maxlength="6" [(ngModel)]="otp" placeholder="Enter OTP">
    </div>
    <div class="otp">
      <button (click)="verifyOTP()">Verify & Proceed</button>
    </div>
    
  </div>
  
  <!-- Modal -->
  <div *ngIf="showModal" class="modal-backdrop" (click)="closeModal()"></div>
  <div *ngIf="showModal" class="modal-content">
    <h1>Error</h1>
    <p>{{ modalMessage }}</p>
    <button (click)="closeModal()">OK</button>
  </div>
</div>
