.container {
  height: 100vh;
}
.otp button:hover {
  background-color: #04B56C;
}
.back-icon {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 20px;
}
.error-message {
  color: red;
  margin-left: 5px;
  text-align: center;
  font-family: 'Arial', sans-serif;
}
.resend p {
  color: rgb(79, 78, 78);
  text-align: center;
  margin-top: 10px;
  font-family: 'Arial', sans-serif;
}

.resend {
  text-align: center;
  margin-top: 20px;
}

.resend button {
  margin-top: 30px;
  width: 300px;
  height: 40px;
  background-color: #04B56C;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 520px;
  &[disabled] {
    background-color: #ccc;
    color: #333;
  }
}
.OTP-verify {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-top: 18%;
}
.OTP-verify p {
  font-size: 13px;
  margin-top: 15px;
}
.OTP-verify h3 {
  font-size: 20px;
  font-weight: 500;
}
.otp-input {
  margin-top: 20px;
}
.otp-input input {
  width: 40px;
  height: 30px;
  margin: 0 5px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.otp {
  text-align: center;
  margin-top: 20px;
}
.otp input[type="number"] {
  width: 200px;
  height: 40px;
  margin-bottom: 10px;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.otp button {
  width: 300px;
  height: 40px;
  background-color: #04B56C;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 520px;
  &[disabled] {
    background-color: #ccc;
    color: #333;
  }
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-content button {
  border: none;
  color: #04B56C;
  background: transparent;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 90%; /* Adjusted width for larger modal */
  border-radius: 10px;
  text-align: center;
}
.modal-content p {
  margin-bottom: 20px;
}
.modal-content .button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.modal-content .yes-button, .modal-content .confirm-button {
  color: blue;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.modal-content .yes-button:hover, .modal-content .confirm-button:hover {
  background-color: darkblue;
}
