<div class="container">
  <div class="back-icon" (click)="goBack()">
    <i class="fas fa-chevron-left"></i>
  </div>
  <div *ngIf="showCancellationPopup" class="modal-overlay" (click)="goBack()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <p>Do you want to enter mobile number again?</p>
      <div class="button-container">
        <button class="confirm-button" (click)="closeCancellationPopup()">No</button>
        <button class="yes-button" [routerLink]="['/login']">Yes</button>
      </div>
    </div>
  </div>

  <div class="OTP-verify">
    <h3>OTP Verification</h3>
    <p>We have sent a Verification code to +91{{ mobile_number }}</p>
  <div class="otp-input" id="otp_code" name="otp_code" [(ngModel)]="otp_code">
      <input type="text" maxlength="1" autofocus #input1 
             (keyup)="moveToNext(input1, input2)" 
             (keydown)="moveToPrevious($event, input1)">
      
      <input type="text" maxlength="1" #input2 
             (keyup)="moveToNext(input2, input3)" 
             (keydown)="moveToPrevious($event, input2, input1)">
      
      <input type="text" maxlength="1" #input3 
             (keyup)="moveToNext(input3, input4)" 
             (keydown)="moveToPrevious($event, input3, input2)">
      
      <input type="text" maxlength="1" #input4 
             (keyup)="moveToNext(input4, input5)" 
             (keydown)="moveToPrevious($event, input4, input3)">
      
      <input type="text" maxlength="1" #input5 
             (keyup)="moveToNext(input5, input6)" 
             (keydown)="moveToPrevious($event, input5, input4)">
      
      <input type="text" maxlength="1" #input6 
             (keyup)="moveToNext(input6)"
             (keydown)="moveToPrevious($event, input6, input5)">
    </div>

    <div *ngIf="loading" class="spinner-overlay">
      <div class="spinner"></div>
    </div>
    <div class="resend">
      <p *ngIf="remainingTime > 0">Don't receive the OTP? 00:{{ remainingTime }}</p>
      <button *ngIf="remainingTime <= 0" (click)="resend()">Resend</button>
    </div>

    <div class="otp">
      <button [disabled]="!showVerifyButton" (click)="verifyOTP()">Verify & Proceed</button>
    </div>
  </div>
  
  <!-- Modal -->
  <div *ngIf="showModal" class="modal-backdrop" (click)="closeModal()"></div>
  <div *ngIf="showModal" class="modal-content">
    <h1>Error</h1>
    <p>{{ modalMessage }}</p>
    <button (click)="closeModal()">OK</button>
  </div>
</div>
