.add-vac-main{
    background-color: #f1f7f7;
    padding-top: 5px;
    height: 100%;
}
.add-vac-header {
    display: flex;
    align-items: center;
        padding: 10px 20px;
}
.add-vac-header h3{
    text-align: center;
    margin: 7px;
    font-size: 20px;
    font-weight: 500;
}
.add-vac-header button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.2s ease;
}
/* .add-vac-header button img {
    width: 30px; 
    height: auto;
} */
.add-vac-header button:hover {
    transform: scale(1.1); /* Adjust scale factor as needed */
}
.form-group {
    position: relative;
}
input[type="date"] {
    padding: 8px;
    /* margin-bottom: 10px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    /* margin: 20px; */
}
input[type="date"]::placeholder {
    color: #aaa;
}
.add-vac-main button {
    padding: 10px 20px;
    background-color: #04B56C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
    margin: 75% 20px 20px 20px;
}
.add-vac-main button:hover {
    background-color: #45a049;
}

.date-preview {
    margin-bottom: 10px;
  }
  
  .date-preview p {
    margin: 0;
  }
  
  .form-group {
    margin: 15px;
  }
  
  .form-group label span {
    color: red;
  }
  .custom-card {
    width: 90%;
    padding: 16px;
    border-radius: 8px;
    margin: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .head {
    text-align: center;
    margin-left: 5%;
    font-size: 20px;
    margin-top: 8px;
  }
  
  .head p {
    margin-top: 10px;
    font-weight: 500;
  }
.back-icon {
    top: 10px;
    left: 20px;
    margin-left: 10px;
    display: flex;
    font-size: 20px;
  }
  .input-field {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .divider {
    border-top: 1px solid #ccc;
    /* margin-top: 24px; */
  }