.body {
    margin: 0;
    padding: 0;
}

.back-icon  {
    cursor: pointer;
    transition: transform 0.2s ease;
    border: none;
    margin: 10px 15px;
    font-size: 20px;
    background-color: transparent;
  }

.logo {
    padding: 0px;
    height: 50vh;
    text-align: center;
    border-radius: 5px;
}

.logo img {
    width: 100%;
    height: auto;
}

.details {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tales {
    margin-top: 10px;
}

.tales h3 {
    font-size: 17px;
}

.mid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.add {
    margin-right: 25px;
    margin-top: 15px;
}

.tail {
    background: linear-gradient(135deg, #FEE58C 0%, #B4E856 100%);
    padding: 5px;
    border-radius: 5px;
    height: 33px;
    margin-left: 75px;
    width: 35%;
    margin-top: 10px;
    justify-content: space-around;
}

.tail p {
    margin: 0;
    text-align: center;
    color: #000;
    font-weight: 500;
    font-size: 15px;
}

.art {
    background-color: #F2FBF8;
    border: 1px solid #04B56C;
    color: #04B56C;
    padding: 5px;
    border-radius: 5px;
    height: 33px;
    margin-left: 145px;
    display: flex;
    width: 28%;
    margin-top: 10px;
    justify-content: space-around;
}

 
  .sum {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.mat-form-field input{
  width: 70px;
}
.plan {
  display: flex;
  align-items: center;
}

.cart {
  display: flex;
  flex-direction:column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.cart p {
  margin: 0;
  padding-right: 10px;
  font-size: 20px;
  text-align: center;
  color:#04B56C;
  font-weight: 400;
}

.cart i {
  cursor: pointer;
}
.types h2{
  font-size: 20px;
  padding: 8px;
  border-top: 1px solid gray;
}

.plan,
.cart {
    flex: 1; /* This will make both divs take up equal space */
    margin-right: 10px; /* Add some spacing between the divs */
}

  .plan h2,
  .plan1 h2 {
    font-size: 15px;
  }

  .fa-edit {
    color: #666;
    cursor: pointer;
  }
  

.descript {
    border-top: 1px solid gray;
    padding-top: 10px;
    height: 60vh;
    background-color: #F2FBF8;
}


.descript h2 {
    font-size: 1.5em;
    color: #333;
    padding: 20px;
}

.descript ul {
    list-style-type: disc;
    margin-top: 10px;
    margin-bottom: 20px;
}

.descript li {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 10px;
}

.address-price {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff; 
    padding: 10px; 
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999; 
    text-align: center;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.add-address {
    width: 100%;
    background-color: #04B56C;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.add-address:hover {
    background-color: #04B56C;
}