
<div class="product">
    <button class="back-icon" (click)="goBack()">
        <i class="fas fa-chevron-left"></i>
    </button>
  
    

    <div class="Carousel">
        <ngb-carousel *ngIf="images && images.length > 0">
            <ng-template ngbSlide>
                <div class="logo">
                    <img src="https://content.jdmagicbox.com/comp/delhi/s6/011pxx11.xx11.191015075931.b6s6/catalogue/country-delight-okhla-industrial-area-delhi-milk-dairy-nlw19dbmil.jpg"
                        alt="" />
                </div>

            </ng-template>
            <ng-template ngbSlide>
                <div class="logo">
                    <img src="https://s3.us-west-2.amazonaws.com/customer-app-cards/promotions/milk_1628769125586.png"
                        alt="" />
                </div>

            </ng-template>
            <ng-template ngbSlide>
                <div class="logo">
                    <img src="https://content.jdmagicbox.com/comp/delhi/s6/011pxx11.xx11.191015075931.b6s6/catalogue/country-delight-okhla-industrial-area-delhi-milk-dairy-nlw19dbmil.jpg"
                        alt="" />
                </div>

            </ng-template>
            <ng-template ngbSlide>
                <div class="logo">
                    <img src="https://s3.us-west-2.amazonaws.com/customer-app-cards/promotions/milk_1628769125586.png"
                        alt="" />
                </div>

            </ng-template>
        </ngb-carousel>
    </div>
    <div class="details">
        <div class="tales">
            <h3>Buffalo Milk</h3>
            <p>450ml</p>
        </div>
        <div class="tail">
            <p>Harmone Free</p>
        </div>
    </div>

    <div class="mid">
        <div class="add">
            <p>₹{{ price }}</p>
        </div>
        <div class="cart">
            <p (click)="increaseValue()">+</p>
            <span>{{ quantity }}</span>
            <p (click)="decreaseValue()">-</p>
        </div>
    </div>
</div>

<div class="sum">
    <div class="plan">
      <h2>Subscription type</h2>
      <div class="cart">
        <p *ngIf="!isSubscriptionTypesVisible" (click)="toggleSubscriptionTypes()">{{ selectedSubscription }}</p>
        <ng-container *ngIf="isSubscriptionTypesVisible">
          <p (click)="selectSubscription('Daily')">Daily</p>
          <p (click)="selectSubscription('Alternate')">Alternate</p>
          <p (click)="selectSubscription('Weekly')">Weekly</p>
          <p (click)="selectSubscription('One Time')">One Time</p>
        </ng-container>
        <i class="fas fa-edit" (click)="toggleSubscriptionTypes()"></i>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Start Date</mat-label>
        <div class="flex">
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate #startDateInput placeholder="Start date" (dateChange)="onStartDateSelected($event.value)">
                <input matEndDate #endDateInput placeholder="End date">
              </mat-date-range-input>
        </div>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
    </div>
 
    
  </div>

<div class="descript">
    <h2>Product Description</h2>
    <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod diam id arcu bibendum, at bibendum quam
            vehicula.</li>
        <li>Nulla facilisi. Duis vitae ex at eros iaculis tincidunt. Phasellus sed magna ultricies, venenatis lectus
            non, efficitur justo.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod diam id arcu bibendum, at bibendum quam
            vehicula.</li>
        <li>Nulla facilisi. Duis vitae ex at eros iaculis tincidunt. Phasellus sed magna ultricies, venenatis lectus
            non, efficitur justo.</li>
    </ul>
</div>

<div class="address-price">
    <button class="add-address" [routerLink]="['/wallet']">₹{{ totalPrice }} Confirm Subcription</button> 
</div>
