.body {
    margin: 0;
    padding: 0;
}
.product {
    padding-top: 5px;
    height: 100%;
    background-color: #f1f7f7;

  }
.back-icon  {
    cursor: pointer;
    transition: transform 0.2s ease;
    border: none;
    margin: 22px 10px;
    font-size: 20px;
    background-color: transparent;
}

.logo {
    padding: 0px;
    height: 45vh;
    text-align: center;
    border-radius: 5px;
  }
  .logo img {
    width: 100%;
    height: auto;
    position: relative;

  }
  .details {
    display: flex;
    gap: 4rem;
    flex-direction: row;
    justify-content: space-around;
    background-color: #F2FBF8;
}

.tales {
    margin-top: 10px;
}

.tales h3 {
    font-size: 16px;
    margin-bottom: 0rem;
}
.tales p{
    margin-bottom: 0rem;
    font-size: 13px;
    color: #6d6d6d;
}
.offer-card {
    width: 95%;
    padding: 9px;
    margin: 5px auto;
    background: linear-gradient(to right, #e2d2424f, #e4d7608f, #f6c31896);
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
  
}
.cover{
    background-color: #F2FBF8;
}
.offer-card p{
    margin: 0;
}

.mid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F2FBF8;
}
.grey-card p{
    margin: 0;
    font-size: 12px;
    color: grey
  }
  .grey-card{
    width: 95%;
    padding: 5px;
    text-align: center;
    margin: 8px auto;
    border-radius: 10px;
    background-color:#E2ECEB;
  }
  .forms-field{
    display: flex;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-left: 10px;
    border-radius: 10px;
    width: 95%;
    margin-bottom: 10px;
    height: 45px;
    justify-content: space-evenly;
  }
  .forms-field p{
    margin-top: 12px;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
  }
  .forms-field input{
    display: none;
  }
  .mat-datepicker-toggle {
    font-size: 10px; 
    color: #04B56C;
}


.side-button {
  position: absolute;
  left: 10px;
  bottom: 15px;
  z-index: 1;
  background: linear-gradient(135deg, #FEE58C 0%, #FEE58C 100%);
  color: #000;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  padding: 2px 5px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.whatsapp {
  position: absolute;
  bottom:10px; 
  right: 15px; 
  width: 40px;  
  height: 40px; 
  background: transparent;
  border: none;
  padding: 5px; 
}




.add p{
    margin-left: 12px;
    margin-top: 15px;
}


.tail {
  background: linear-gradient(135deg, #FEE58C 0%, #B4E856 100%);
  padding: 4px;
  border-radius: 5px;
  height: 26px;
  margin-left: 35%;
  width: 30%;
  margin-top: 10px;
}

.tail p {
    margin: 0;
    font-size: 13px;
    text-align: center;
    color: #000;
    font-weight: 500;
    font-size: 13px;
}

.art {
    background-color: #F2FBF8;
    border: 1px solid #04B56C;
    color: #04B56C;
    padding: 5px;
    border-radius: 5px;
    height: 33px;
    margin-right: 15px;
    display: flex;
    justify-content: space-evenly;
  }
  .Cart button{
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .sum {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

}

.dotted-card {
  border: 1px dashed #04B56C;
  background: linear-gradient(45deg, #04b56c73, white);
  padding: 2px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 95%;
  margin: 10px auto;
}
.dot-card-details {
  display: flex;
  align-items: center;
}
.dot-card-details span{
  font-size: 14px;
  font-weight: 500;
}
.dot-card-details img {
width: 40px;
height: 40px;
margin-right: 11px;
}
.saved-amount {
  margin: 0;
  color: #04B56C;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  font-weight: 600;
  margin-left: 10px;
}

  .fa-edit {
    color: #666;
    cursor: pointer;
  }
  
  .descript {
    border-top: 1px solid gray;
    padding: 12px;
    padding-bottom: 65px;
    background-color: #f1f7f7;
  }
  .descript h6 {
    color: #333;
    padding: 10px;
  }
  .descript ul {
    list-style-type: disc;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .descript li {
    color: #666;
    margin-bottom: 10px;
  }

.subscription {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    /* box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1); */
    z-index: 999;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .add-sub {
    width: 100%;
    background-color: #04B56C;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  .add-sub span{
    margin-right: 8rem;
  }
  .add-sub:hover {
    background-color: #04B56C;
  }

.subscript{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F2FBF8;
    border-top: 2px solid #ccc;
}
.script{
    margin-left: 10px;
}
.date{
margin-right: 30px;
}
.script h2{
  padding: 10px;
  font-size: 15px;
  margin: auto;
}
.mat-mdc-text-field-wrapper {
  width: 70%;
  z-index: 0;
  height: 5vh;
}
.date h2{
    padding: 10px;
    font-size: 15px;
    margin: auto;
    /* margin-left: 12px; */
}
.sub-type{
  display: flex;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-left: 8px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 80%;
    padding: 6px;
    justify-content: space-evenly;

}
.typed p, .edit{
    text-align: center;
    margin-top:5px;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px;
    /* padding-top: 15px; */
}
.edit i{
    color: #04B56C;
}

.side-button {
  position: absolute;
  left: 10px;
  top: 25px;
  z-index: 1;
  background: linear-gradient(135deg, #FEE58C 0%, #FEE58C 100%);
  color: #000;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  padding: 2px 5px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.whatsapp {
  position: absolute;
  bottom: 25px; 
  right: 15px; 
  width: 40px;  
  height: 40px; 
  background: transparent;
  border: none;
  padding: 5px; 
}

.add-sub[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }