.body {
    margin: 0;
    padding: 0;
}

.back-icon  {
    cursor: pointer;
    transition: transform 0.2s ease;
    border: none;
    margin: 10px 15px;
    font-size: 20px;
    background-color: transparent;
  }

.logo {
    padding: 0px;
    height: 50vh;
    text-align: center;
    border-radius: 5px;
}

.logo img {
    width: 100%;
    height: auto;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tales {
    margin-top: 10px;
}

.tales h3 {
    font-size: 17px;
}
.offer-card {
  width: 95%;
  padding: 9px;
  margin: 5px auto;
  background: linear-gradient(to right, #e2d2424f, #e4d7608f, #f6c31896);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.offer-card p{
  margin: 0;
}

.mid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.add {
    margin-right: 25px;
    margin-top: 15px;
}

.tail {
    background: linear-gradient(135deg, #FEE58C 0%, #B4E856 100%);
    padding: 5px;
    border-radius: 5px;
    height: 33px;
    margin-left: 75px;
    width: 35%;
    margin-top: 10px;
    justify-content: space-around;
}

.tail p {
    margin: 0;
    text-align: center;
    color: #000;
    font-weight: 500;
    font-size: 15px;
}

.art {
    background-color: #F2FBF8;
    border: 1px solid #04B56C;
    color: #04B56C;
    padding: 5px;
    border-radius: 5px;
    height: 33px;
    margin-left: 145px;
    display: flex;
    width: 28%;
    margin-top: 10px;
    justify-content: space-around;
}



.descript {
    border-top: 1px solid gray;
    padding-top: 10px;
    height: 60vh;
    background-color: #F2FBF8;
}



.descript h2 {
    font-size: 1.5em;
    color: #333;
    padding: 20px;
}

.descript ul {
    list-style-type: disc;
    margin-top: 10px;
    margin-bottom: 20px;
}

.descript li {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 10px;
}

.address-price {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff; 
    padding: 10px; 
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999; 
    text-align: center;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.add-address {
    width: 100%;
    background-color: #04B56C;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.add-address:hover {
    background-color: #04B56C;
}


.subscript{
  display: flex;
  flex-direction: row;
  /* justify-content:space-evenly; */
    border-top: 1px solid gray;
    background-color: #F2FBF8;
}
.script h2{
  padding: 10px;
  font-size: 15px;
  margin: auto;
}
.date h2{
  padding: 10px;
  font-size: 15px;
  margin: auto;
}
.sub-type{
  display: flex;
  border: 1px solid #ccc;
  background-color: #fff;
  margin-left: 10px;
  border-radius: 10px;
  width: 85%;
  justify-content: space-evenly;
  /* margin-top: 5px; */
}
.typed p, .edit{
  text-align: center;
  padding-top: 15px;
}

