.header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .back-icon {
    top: 10px;
    left: 20px;
    margin-left: 10px;
    display: flex;
    font-size: 20px;
  }
  .head {
    text-align: center;
    margin-left: 5%;
    font-size: 20px;
    margin-top: 10px;
  }
  
  .head p {
    margin-top: 10px;
    font-weight: 500;
  }
  
  
.popular-items {
    margin-right: -10px;
    display: flex;
    flex-direction: row;
  }
  
  .popular-item {
    width: calc(51% - 70px);
    border: 1px solid #D2E19C;
    border-radius: 5px;
    padding: 10px;
    margin: 90px 10px 4px 10px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    background-color: white;
  }
  .popular-it {
    margin: 90px 10px 4px 0px;
  }
  
  .popular-item img {
    width: 80%;
    border-radius: 5px;
    margin: 10px 1px 18px 8px;
  }
  
  .popular-item h3 {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 600;
    margin-right: 10px;
  }
  
  .popular-item p {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .popular-item button:hover {
    background-color: #04B56C;
  }
  
  
.promo-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-image: linear-gradient(to right, #F5E586, #C0ED5F);
    z-index: 1;
    border-radius: 5px 5px 0 0;
  }
  
  .promo-banner::before {
    content: "Hormone free";
    color: #000;
    position: absolute;
    font-size: 12px;
    left: 25%;
    margin-top: 5px;
    font-weight: 600;
  }
  
  .promo-banner::after {
    content: "";
  }
  
  .text {
    background-image: linear-gradient(to right, #fff, #F0DFA3);
    padding:5px; /* Padding around the text */
    border-radius: 10px; /* Rounded corners */
  }
  
  .text p {
    margin: 0; /* Remove default margin */
    font-size: 16px; /* Font size */
    color: #333; /* Text color */
  }
  .select-days {
    font-family: Arial, sans-serif;
    padding: 15px;
    border: 1px solid green;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
  }
  
  .select-days p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px; /* Add space below the "Select Days" text */
  }
  
  .select-days ul {
    display: flex;
    justify-content: space-around; /* Adjust alignment */
    align-items: center; /* Vertically center items */
    list-style-type: none; /* Remove default bullet points */
    padding: 0;
    width: 100%; /* Set width to 100% */
  }
  
  .select-days li {
    border: 1px solid #D2E19C;
    border-radius: 10px;
    font-size: 16px;
    margin-left: 10px;
    flex: 1; /* Allow each item to grow equally to fill available space */
    text-align: center; /* Center text */
  }
  .select-days ul li.selected {
    background-color: green;
    color: white;
  }
  .select-quantity {
    font-family: Arial, sans-serif;
    padding: 15px;
    border: 1px solid green;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .select-quantity p{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px; /* Add space below the "Select Days" text */
  }
  .mid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
}

.cart {
    display: flex;
    flex-direction: row;
    background-color: #F2FBF8;
    border: 1px solid #04B56C;
    color: #04B56C;
    border-radius: 5px;
    height: 33px;
    margin-left: 145px;
    width: 28%;
    justify-content: space-around;
}
.address-price {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff; 
    padding: 10px; 
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999; 
    text-align: center;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.add-address {
    width: 100%;
    background-color: #04B56C;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.add-address:hover {
    background-color: #04B56C;
}