.accounts-main {
    background-color: #f1f7f7;
    padding-top: 5px;
    height: 100%;
  }
  
  .accounts-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .accounts-header button {
    padding: 0;
    border: none;
    background-color: transparent;
  }
  
  .accounts-header h3 {
    text-align: center;
    margin: 7px;
    font-size: 20px;
    font-weight: 500;
  }
  
  .accounts-card {
    background-color: #fff;
    border-radius: 8px;
    margin: 10px 18px;
    width: 90%;
    padding: 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    
  }
  .card-content:not(:last-child) {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px; 
    margin-bottom: 10px; 
  }
  
  .profile-section h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
  }
  
  .profile-section p {
    margin: 5px 0 0 0;
    color: #666;
    font-size: 14px;
  }
  .custom-button  {
    text-transform: none;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #d5d0d0ab;
    color: #04B56C;
    margin-left: auto; 
  }
  .section-header {
    margin: 10px 0 0 20px;
    font-size: 16px;
    font-weight: 500;
    color: #888;
  }
  
  mat-slide-toggle {
    margin-left: 10px;
  }
  
  mat-slide-toggle .mat-slide-toggle-bar {
    background-color: #ccc !important;
  }
  mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #04B56C !important;
  }
  
  button.mat-button {
    text-transform: none;
    font-size: 14px;
    padding: 5px 10px;
    
  }
  .profile-section {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }


  /* Styles for the popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  width: 85%;
}
.popup-content p{
  text-align: center;
  padding: 5px; 
  border-top: solid 1px grey;
}
.popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.button-group button{
  padding: 8px 20px;
  background-color:#4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
    width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}