.refer{ 
    padding-bottom: 70px;
    height: 100vh;
}
.ref{
  background-color: #F0F7F7;
   
}

.header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  .balance{
    margin-left: 18%;
    margin-top: 20px;
    color: #04B56C;
  }
  .back-icon {
    top: 10px;
    left: 20px;
    margin-left: 20px;
    display: flex;
    font-size: 20px;
  }
  
  .head {
    text-align: center;
    margin-left: 5%;
    font-size: 20px;
    margin-top: 10px;
  }
  
  .head p {
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
  }
  
  .logo {
    padding: 10px;
    height: 30vh;
    padding-top: 50px;
    text-align: center;
  }
  
  .logo img {
    margin-top: 17px;
    width: 100%;
    height: 30vh;
    border-radius: 15px;
  }
  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.allset{
   background-color: #DEE8E7;
   border: 1px solid #b2b2b2;
   border-radius: 20px; 
   /* padding: 10px; */
   width: 95%;
   height: 22vh;
   margin-top: 85px;
   margin-left: 10px;
}
.allset .Terms{
  padding: 10px;
  font-size: 15px;
  color: #373737;
  font-weight: 500;
}
.all{
    /* border: 1px solid #b2b2b2; */
    background-color: #fff;
    border-radius: 20px; 
    /* margin-top: 115px; */
    padding: 10px;
    width: 100%; 
}
.count{
    text-align: center;
    color: gray;
    margin-top: 10px;
}
.count p{
  margin-bottom: 0rem;
}
.set{
    margin-top: 10px;
}

.pending,
.success,
.earned {
    text-align: center;
}

.pending p,
.success p,
.earned p {
    margin: 0;
    font-size: 17px;
}
.pending span,
.success span,
.earned span{
    margin: 0;
    font-size: 13px;
}
.color{
    color: orangered;
    font-weight: 600;
}
.color2{
    color: green;
    font-weight: 600;
}
.color3{
  font-weight: 500;
}

.refer-now-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.referal p{
  font-size: 17px;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 10px;
}
.referal{
  display: flex;
  padding: 0px;
  justify-content:center;
  background-color: #04B56C;
  border: 1px solid #b2b2b2;
  color: #fff;
  width: 75%;
  text-align: center;
  margin-left: 2%;
  height: 48px;
  border-radius: 5px; 
}

.icons-container {
  display: flex;
  align-items: center;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  padding: 10px;
  margin-right: 25px; 
}

.referal img{
  width: 25px;
  height: 25px;
  margin-top: 10px;
}
.share-icon {
  font-size: 25px; 
  color: #b2b2b2;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.contact p {
  margin: 0;
  color: red;
  font-size: 14px;
  margin-right: 16%;
}
.contact span {
  font-size: 14px;

}


.contact i {
  color: #888;
}
.bottom{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff; 
  padding: 10px; 
  border-radius: 20px;
  z-index: 999; 
  
}

.timeline{
  display: flex;
  flex-grow: 1;
  background-color: #F0F7F7;
  flex-direction: column;
  padding: .7rem;
  height: 35vh;
}

.timeline-event{
  display: flex;
  position: relative;
  min-height: 50px;
}
.timeline-event:last-child{
  min-height: 0;
}
.timeline-content{
  flex: 1;
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 500;
}
.timeline-point-track-container{
  flex: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.timeline-point{
  display: flex;
  align-self: baseline;
  border: 2px solid #04B56C;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
}

.timeline-track{
  flex-grow: 1;
  background-color: #04B56C;
  width: 4px;
}
.heighlight{
  background-color: #04B56C;
}
