.payment{
    background-color: #F1F7F7
  }
  
  .header {
      display: flex;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: white;
      padding: 0;
      justify-content: space-between;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      z-index: 1000;
    }
    
    .back-icon {
      top: 10px;
      left: 20px;
      margin-left: 10px;
      display: flex;
      font-size: 20px;
    }
    
    .head {
      text-align: center;
      font-size: 20px;
      margin-top: 10px;
    }
    
    .head p {
      margin-top: 10px;
      font-weight: 500;
    }
    .balance {
     margin-right: 20px;
      color: gray;
    }
    .selection {
      display: flex;
      justify-content: space-between;
      border: 2px solid #ccc;
      padding-top: 67px;
      
  }
  .act p, .react p, .deact p{
      margin-bottom: 0rem;
      color: #8d8989;
  }
  .act, .react, .deact {
      flex: 1;
      text-align: center;
  }
  
  .act {
      border-right: 1px solid gray;
  }
  
  .react {
      border-right: 1px solid gray;
  }
  
  .deact h4{
      color: #04B56C; 
  }
  .method img{
    height: 30px;
    width: 30px;
  }
  .apps {
    margin: 20px; 
  }
  .apps h4 {
    font-size: 15px;
    font-weight: 600;
  }
  .apps p {
    font-size: 15px; 
    font-weight: 500;
    text-align: center;
  }
  
  .sub{
    border-radius: 20px;
    border: 2px solid #ccc;
    background-color: #fff;
  }
  .big{
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly; 
    margin-top: 10px; 
    padding: 20px;
  
  }
  .method {
    margin: 0 10px; 
  }
  
  .method img {
    width: 50px; 
    height: 50px; 
    border: 2px solid #dbdada;
    border-radius: 10px;
    background-color: #F1F7F7;
  }
  
  .method p {
    margin-top: 5px;
  }
  
  .new {
    margin-top: 10px;
    border-top: 1px solid gray;
  }
  
  .add-upi {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .add-button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 10px;
    background-color: #ECF9F7;
    cursor: pointer;
    color: #0AB36E;
    border-radius: 50%; 
  }
  
  .add-upi p {
    padding: 10px;
    border-radius: 10px;
    color: #0AB36E;
  }
  
  .upi-input {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-evenly;
  }
  
  .upi-input input {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .upi-input button {
    padding: 5px 10px;
    border: none;
    background-color: #04B56C;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  .app1{
    color: #04B56C;
    font-weight: 500;
    padding: 12px;
    font-size: 20px;
    border-radius: 50%;
    background-color: #F0C2B6;
  }
  .red{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #ccc;
    width: 90%;
    text-align: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    background-color: #fff;
  }
  .red p{
    margin-top: 13px;
    color: #04B56C;
    margin-right: 140px;
  }
  
  .red1{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #ccc;
    width: 90%;
    text-align: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    background-color: #fff;
  }
  .red1 p{
    margin-top: 13px;
    margin-right: 140px;
    font-weight: 500;
  }
  .red1 img{
   height: 20px;
   width: 20px;
  }
  