<div class="bills-header">
    <div class="back-icon" (click)="goBack()">
        <i class="fas fa-chevron-left"></i>
    </div>
    <div class="head">
        <p>My Bills</p>
    </div>
</div>
<div class="bills-main">
    <div class="bills-card">
        <div class="back-icon" (click)="showPreviousMonth()">
            <i class="fas fa-chevron-left"></i>
        </div>
        <div class="month-name">{{ currentMonth }}</div>

        <div class="back-icon" (click)="showNextMonth()">
            <i class="fas fa-chevron-right"></i>
        </div>
    </div>
    
    <div class="bills-card1">
        <p>Total bill for the month</p>
        <h5><strong>₹{{ totalBill }}</strong></h5>
    </div>
    
</div>