.bills-main{
    background-color: #f1f7f7;
    padding-top: 5px;
    height: 100%;
}
.bills-header {
    display: flex;
    align-items: center;
        padding: 10px 20px;
}
.bills-header h3{
    text-align: center;
    margin: 7px;
    font-size: 20px;
    font-weight: 500;
}
.bills-header button , .mat-icon  {
    background: none;
     border: none;
     padding: 0;
     cursor: pointer;
     transition: transform 0.2s ease;
 }
 
 .bills-header button img, .mat-icon {
     width: 30px;
     height: auto;
 }
 
 .bills-header button:hover {
     transform: scale(1.1); 
 }
 .bills-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%; 
    background-color: white;
    height: auto;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 15px;
    padding: 7px;
}
.month-name {
    flex: 1; 
    text-align: center; 
    font-size: 20px; 
}

.bills-card1 {
    width: 90%; 
    background-color: #f8e9db; 
    border: 2px solid #FFA500; 
    border-radius: 10px;
    padding: 10px;
    margin: 15px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}