
<div class="vacation-header">
  <div class="back-icon" (click)="goBack()">
    <i class="fas fa-chevron-left"></i>
</div>
<div class="head">
    <p>Vacation</p>
</div>
  </div>
  <div class="vacation-main" *ngIf="!vacation; else vacationTemplate">
    <div class="vacation-section">
      <img src="https://img.freepik.com/premium-photo/sustainable-travel-photo-abstract-expressionism-art-white-background_873925-1022238.jpg?w=740" />
      <p>You have no vacations added</p>
      <h6 (click)="goToAddVacation()">ADD VACATION</h6>
    </div>
  </div>
  <ng-template #vacationTemplate>
    <div class="vacation">
      <div class="vacation-card-row">
        <div class="vacation-column">
          <p>Start Date</p>
          <p>{{ vacation.startDate | date }}</p>
        </div>
        <div class="divider"></div>
        <div class="vacation-column">
          <p>End Date</p>
          <p>{{ vacation.endDate}}</p>
        </div>
      </div>
      
      <!-- <p style="text-align: center;"  (click)="goToAddVacation()">Add Vacation</p> -->
      <button mat-raised-button color="primary" (click)="goToAddVacation()">Add Vacation</button>
    </div>
  </ng-template>