<div class="orderpage">
<div class="orders-header">
  <div class="back-icon" (click)="goBack()">
    <i class="fas fa-chevron-left"></i>
  </div>
  <div class="head">
    <p>Order History</p>
  </div>
</div>
<div class="text">
  <p>Yay! You are saving ₹18.50 on this order</p>
</div>
<div class="line-above">
</div>
    <div class="dotted-card">
        <div class="dot-card-details">
            <img src="https://cdn-icons-png.freepik.com/512/3960/3960581.png?ga=GA1.1.1335550155.1713184366">
            <div class="text-details">
              <h6><strong>Yay! 100% off on every delivery after 5 deliveries</strong></h6>
            </div>
         </div>    
  </div>
<div class="apps">
  <h4>Subscription Details</h4>
  </div>
<div class="red">
  <div class="on">
    <p>Start Date</p>
    <p>{{ currentDate | date:'mediumDate' }}</p>
  </div>
  
<div class="in">
  <p>Subscription type</p>
  <p>Alternate</p>
</div>
</div>


<div class="apps">
  <h4>Order Details</h4>
  </div>
<div class="red">
  <div class="it" *ngFor="let order of orders">
    <p>item total</p>
    <p>{{order.order_quantity}}</p>
  </div>
  <div class="on">
    <p>Delivery Charges</p>
    <p>Free</p>
  </div>
  
<div class="in">
  <p>Packeging Charges</p>
  <p>Free</p>
</div>
<div class="in"  *ngFor="let order of orders">
  <p>Total amount</p>
  <p>{{order.total_amount }}</p>
</div>
</div>

<div class="apps">
  <h4>Saving ₹18.50</h4>
  </div>
<div class="red">
  <div class="on">
    <p class="grt">Extra Discount</p>
    <p class="grt"> ₹18.50</p>
  </div>
</div>
<div class="apps">
  <h4>Delivery Details</h4>
  </div>
<div class="red">
  <div class="on" *ngFor="let order of orders">
    <p>Delivery Date</p>
    <p>{{order.order_date }}</p>
  </div>
</div>

<div class="apps">
  <h4>Disclaimer</h4>
  </div>
<div class="red">
  <div class="on">
    <p>Weight shown are indicative you will be billed as per actual weight deliverd</p>

  </div>
</div>
<!-- <div class="orders-main">
    <img src="https://cdn-icons-gif.flaticon.com/15309/15309814.gif">
    <h6><strong>No Orders</strong></h6>
    <p >You haven't made any orders,<br>
    please explore our healthy <br>products.</p>
    <button mat-raised-button color="primary" class="order-button"  (click)="goToProductDetails()">EXPLORE PRODUCTS</button>
    <div *ngIf="showCancelPopup" class="modal-overlay" (click)="closeCancelPopup()">
        <div class="modal-content" (click)="$event.stopPropagation()">
          <h6>Please select a reason for cancellation</h6>
          <ul>
            <li><input type="radio" name="reason" value="Too Expensive"> Too Expensive</li>
            <li><input type="radio" name="reason" value="Not Satisfied"> Not Satisfied</li>
            <li><input type="radio" name="reason" value="Not Satisfied"> Subscribe by mistake</li>
            <li><input type="radio" name="reason" value="Other"> Other</li>
          </ul>
            <button class="confirm-button"  (click)="confirmCancellation()">Confirm</button>
          
        </div>
    </div> -->
</div>