.orderpage{
    background-color: #f1f7f7;
    padding-bottom: 30px;
}
.orders-main{
    padding-top: 5px;
    height: 100%;
}
.orders-header {
    display: flex;
    align-items: center;
    background-color: #fff;
        padding: 10px 20px;
        border-bottom: 1px solid #ccc;
        
}
.back-icon {
    top: 10px;
    left: 20px;
    margin-left: 10px;
    display: flex;
    font-size: 20px;
  }
  .head {
    text-align: center;
    margin-left: 5%;
    font-size: 20px;
    margin-top: 8px;
  }
  
  .head p {
    margin-top: 10px;
    font-weight: 500;
  }
.orders-header button {
    background: none;
     border: none;
     padding: 0;
     cursor: pointer;
     transition: transform 0.2s ease;
 }
 
  .mat-icon {
     width: 30px; 
     height: auto;
 }
 
 .mat-icon {
     transform: scale(1.1);
 }
 h6 , p{
    text-align: center;
 }
 
.orders-main img {
    width: 60%;
    border-radius: 50%;
    margin: 20px 10px 1rem 5rem;
            height: auto;
}
 .order-button {
    background-color: #04B56C; 
    color: white; 
    border: none;
    cursor: pointer;
    border-radius:5px;
    padding: 8px 16px; 
}
.order-button {
    margin-left: 6rem;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    width: 80%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  
  }
  ul{
    padding: 0;
  }
   li{
    list-style: none;
    
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-size: 13px;
   }

  .confirm-button {
    padding: 10px 20px;
    background-color: #04B56C; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .red {
    border: 1px solid #ccc;
    width: 90%;
    border-radius: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .on, .in ,.it{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
  }
  .can{
    padding: 10px;
    padding-top: 10px;
    background-color: #fff;
    border-radius: 20px;
  }
  .on p, .in p {
    margin: 0; 
  }
  .grt{
    color: #04B56C;
  }
  .it p{
    margin: 0;
    font-weight: 400;
  }
  
  .confirm-button:hover {
    background-color: #45a049; 
  }
  .apps {
    margin: 20px; 
  }
  .apps h4 {
    font-size: 15px;
  }
  .apps p {
    font-size: 15px; 
    font-weight: 500;
    text-align: center;
  }
  
  .line-above {
    border-top: 1px solid #ccc;
    margin-top: 20px; 
}
  .dotted-card {
    border: 2px dotted #04B56C;
    background: linear-gradient(45deg, #04b56c73, white);
    padding: 9px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 95%;
    margin: 15px auto;
}
.dot-card-details {
    display: flex;
    align-items: center;
}
.dot-card-details img {
    width: 40px; 
    height: 40px; 
    margin-right: 15px;
}
.text-details h6 {
    margin: 0;
    font-size: 14px; 
    color: #333;
}
.text {
    color: #04B56C;
    font-weight: 500;
    background-color: #f1f7f7;
    height: 30px;
    padding-top: 15px;
}