<div class="wallet">
  <header class="header">
    <div class="back-icon" (click)="goBack()">
      <i class="fas fa-chevron-left"></i>
    </div>
    <div class="head">
      <p>Wallet</p>
    </div>
    <div class="balance" (click)="onClickBalance()">
      Balance
      <p> ₹{{ walletData[0]?.initial_balance }}</p>
    </div>  
  </header>

  <div class="recharge">
    <label class="radio-leb">
      <input type="radio" [(ngModel)]="selectedOption" value="recharge">
      <h6>Recharge Once</h6>
    </label>
    <div *ngIf="selectedOption === 'recharge'" class="recharge-section">
      <div class="offer-set" *ngFor="let offer of offerSets">
        <div class="offer1" [routerLink]="['/payment']" (click)="payAmount()">
          <h4>{{ offer.cashback }}</h4>
          <p>Cashback</p>
        </div>
        <div class="avail">
          <div class="sub" [routerLink]="['/payment']">
            <p>Recharge with</p>
            <h4>{{ offer.rechargeAmount }}</h4>
          </div>
          <div class="dotted"></div>
          <div class="sub1">
            <span>AVAIL NOW</span>
            <div class="arrow">
              <i class="fas fa-arrow-right" [routerLink]="['/payment']" (click)="payAmount()"></i>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="loading" class="spinner-overlay">
        <div class="spinner"></div>
      </div>
      <div class="counting">
        <input type="number" [(ngModel)]="userInput" placeholder="Enter a different Amount" (input)="onChange()">
      </div>
      <div class="code" (click)="openNamePopup()">
        <p>Have a coupon code?</p>
      </div>
      <div *ngIf="showNamePopup" class="modal-overlay" (click)="closeNamePopup()">
        <div class="modal-content" (click)="$event.stopPropagation()">
          <div class="close-button" (click)="closeNamePopup()">
            <i class="fas fa-times"></i>
          </div>
          <h3>Have a coupon code?</h3>
          <input class="input-couponCode" [(ngModel)]="couponCode" placeholder="Enter coupon code..."
            [ngClass]="{'error': invalidCoupon}" />
          <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
         <button class="confirm-button" (click)="saveCoupon()">Apply</button>
        </div>
      </div>
    </div>
    <div *ngIf="showErrorMessagePopup" class="error-modal-overlay">
      <div class="error-modal-content">
        <p>{{ errorMessage }}</p>
        <div class="button-container">
          <button class="no-button" (click)="closeErrorMessagePopup()">Ok</button>
        </div>
      </div>
    </div>

  </div>

  <div class="select">
    <div class="autopay">
      <label class="radio-leb">
        <input type="radio" [(ngModel)]="selectedOption" value="Setup autopay">
        <h6>Setup autopay</h6>
        <i class="fas fa-wallet"></i>
      </label>
      <div *ngIf="selectedOption === 'Setup autopay'" class="autopay-section">
        <div class="counting">
          <input type="number" [(ngModel)]="userInput" placeholder="Enter a different Amount">
          <div class="error-message" *ngIf="userInput < 1000" style="color: red;">Enter an amount between ₹1000 - ₹15000</div>
        </div>
        
      
        <div class="top">
          <div class="one" [class.selected]="selectedAmount === 1500" (click)="selectAmount(1500)">
            <p> ₹1500</p>
          </div>
          <div class="two" [class.selected]="selectedAmount === 8250" (click)="selectAmount(8250)">
            <p> ₹8250</p>
          </div>
          <div class="three" [class.selected]="selectedAmount === 15000" (click)="selectAmount(15000)">
            <p> ₹15000</p>
          </div>
        </div>
        <div class="text">
          <p>It will recharge automatically when your wallet balance goes below <span>₹100</span></p>
        </div>
      </div>
    </div>
  </div>
  <ngb-carousel *ngIf="images && images.length > 0">
    <ng-template ngbSlide>
      <div class="logo">
        <img src="https://media.geeksforgeeks.org/wp-content/uploads/20231031171317/10-Best-UPI-Apps-for-Cashback-in-2023.webp" alt="" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="logo">
        <img src="https://d6xcmfyh68wv8.cloudfront.net/blog-content/uploads/2020/07/UPI-autopay-razorpay.png" alt="" />
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="address-price">
    <button *ngIf="showPayButton" class="add-address" [routerLink]="['/payment']" (click)="payAmount()">Pay ₹{{ selectedAmount }}</button>
    <button *ngIf="!showPayButton" class="proceed-button" (click)="proceed()">Proceed</button>
  </div>
  
</div>
