
.header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .back-icon {
    top: 10px;
    left: 20px;
    margin-left: 20px;
    display: flex;
    font-size: 20px;
  }
  
  .head {
    text-align: center;
    margin-left: 35%;
    font-size: 20px;
    margin-top: 10px;
  }
  
  .head p {
    margin-top: 10px;
    font-weight: 500;
  }
  
  .balance {
    margin-left: 23%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }
  .balance p{
    text-align: center;
    font-weight: 500;
  }
  
  .balance p {
    color: red;
  }
  
  .positive-balance {
    color: green;
  }
  
  .logo {
    padding: 10px;
    height: 30vh;
    text-align: center;
  }
  
  .logo img {
    margin-top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  
  .box {
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 45%;
    border: 1px solid #b2b2b2;
    background-color: #fff;
    color: white;
    border-radius: 5px;
  }
  
  .autopay {
    background-color: #fff;
    border: 2px solid #56BD98;
    color: #000;
    /* border-bottom: 1px solid gray; */
    margin-left: 10px;
    padding: 13px;
    margin-right: 10px;
    border-radius: 20px;
    margin-top: 10px;
  }
  .radio-leb input[type="radio"] {
    margin-right: 15px; 
    width: 9%;
    margin-top: 6px;
  }
  .recharge {
    background-color: #fff;
    border: 2px solid #56BD98;
    color: #000;
    border-bottom: 1px solid gray;
    margin-left: 10px;
    padding: 13px;
    margin-right: 10px;
    border-radius: 20px;
    margin-top: 90px;
  }
  
  .radio-leb {
    display: flex;
    align-items: flex-start;
  }
  .radio-leb h6{
    margin-top: 3px;
  }
  
  .radio-label input[type="radio"] {
    margin-right: 10px; 
    width: 5%;
    margin-top: 6px;
  }
  
  
  .tab {
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
  }
  
  .current{
    margin-top: 15px;
  }
  .current1{
    margin-left: 10px;
    margin-top: 15px;
  }
  
  .one,
  .two,
  .three {
    border: 2px solid #b2b2b24a;
    background-color: #fff;
    color: #00000082;
    width: 25%;
    height: 5vh;
    text-align: center;
    border-radius: 20px;
  }
 
  .one p,
  .two p,
  .three p{
    margin-top: 8px;
  }
  
  .top{
    display: flex;
    
    justify-content: space-around;
    /* border-top: 1px solid #80808070; */
    padding-top: 10px;
  }
  
  .text{
    /* text-align: center; */
    margin-top: 25px;
    font-size: 14px;
    color: #666565;

  }
  .text span{
    font-size: 20px;
    color: #000;
    font-weight: 500;
  }

  
  .selected {
    border-color: #04B56C; /* Highlight border color */
  }
  
 
  .wallet{
    background-color: #F0F7F7;
    height: 100vh;
    padding-top: 10px;
  }

  .address-price {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff; 
    padding: 10px; 
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999; 
    text-align: center;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }
  
  .add-address {
    width: 100%;
    background-color: #04B56C;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }                          
  .autopay .label {
    display: inline-block;
    padding: 20px;
  }
 
  
  .code{
    color: #04B56C;
    text-align: center;
    font-weight: 500;
    margin-top: 20px;
  }
  .code p{
    margin-bottom: 0rem;
  }

.error-message{
  color: red;
}

.offer-set{
display: flex;
flex-direction: row;
margin-top: 10px;
}
.offer1{
  background: linear-gradient(135deg, #75C147 0%, #1EBA62 100%);
  /* border: 1px solid #04B56C; */
  border-radius: 10px;
  color: #fff;
  text-align: center;
  padding: 15px 20px;
  width: 32%;
}
.offer1 p{
  font-size: 14px;
}
.offer1 h4{
  margin-bottom: 0rem;
  margin-top: 10px;
}
.avail{
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: #fff;
  border: 1px solid #04B56C;
  border-radius: 10px;
}
.dotted {
  border-right: 3px dotted #757575; 
  padding: 30px 0px;
  margin: 21px 18px;
}
.sub{
  padding: 0px 10px;
  color: #727272;
}
.sub h4{
  font-size: 18px;
}
.sub p{
  margin-bottom: 0rem;
  font-size: 10px;
  font-weight: 500;
  margin-top: 28px;
}
.sub1{
  padding: 0px 15px 0px 0px;
  margin-top: 25px;
  color: #727272;
}
.sub1 span{
  font-size: 12px;
  font-weight: 500;
}
.arrow{
  background-color: #1EBA62;
  border-radius: 10px;
  width: 100%;
  margin-top: 5px;
  margin-left: 10px;
  width: 45%;
  color: #fff;
  font-size: 10px;
  padding: 0px 10px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black overlay */
  z-index: 9999; /* ensure it's above other content */
  display: flex;
  justify-content: center; /* horizontally center the content */
  align-items: center; /* vertically center the content */
}

.modal-content {
  background-color: #fff; /* white background for the modal content */
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 90%;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* add shadow for depth */
}

.error-message {
  color: red; 
  font-size: 12px;
}

.confirm-button {
  margin-top: 10px;
  background-color: #1EBA62; /* blue color for button */
  color: #fff; /* white text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-button:hover {
  background-color: #1EBA62; /* darker blue on hover */
}

.counting {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  
}


.counting input {
  border: none;
  border-bottom: 1px solid #505050; /* Set bottom border */
  outline: none; /* Remove default focus outline */
  background-color: transparent; /* Transparent background */
  width: 100%;
  padding: 5px; /* Adjust as needed */
  box-sizing: border-box; /* Include padding in width calculation */
}

.counting input:focus {
  border-bottom-color: #505050; /* Adjust focus color as needed */
}
