<div class="app-guide-header">
    <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
          <h3>App Guide</h3>
</div>

<div class="guide-main">
<h6><strong>I want to?</strong></h6>
<div class="guide-card">
    <h2 class="section-title">Place an Order</h2>
    </div>

    <div class="guide-card">
        <h5 class="section-title">Add a vacation</h5>
        </div>
        <div class="guide-card">
            <h5 class="section-title">Recharge my wallet</h5>
            </div>
            <div class="guide-card">
                <h5 class="section-title">Payment History</h5>
                </div>
                <div class="guide-card">
                    <h5 class="section-title">Vew my Bill</h5>
                    </div>
                    <div class="guide-card">
                        <h5 class="section-title">View current Offers</h5>
                        </div>
</div>