<div class="prod-subs-container">
    
  <div class="sub-container">
    <div class="column" *ngFor="let row of rows; let i = index">
      <h6>{{ getColumnHeader(i) }}</h6>
      <div class="column-main">
        <div class="row" *ngFor="let col of row">          
          <div class="col-icons">
            <mat-icon (click)="navigateToCol(col.route)">{{ col.icon }}</mat-icon>

          </div>

          <div class="col-text">
            <p>{{ col.name }}</p>
          </div>
          
          
        </div>
      </div>
    </div>
  </div>
  
  
    <!-- <div class="card-container"> -->
      
      <div class="offer-card">
        <div class="offer-details">
          <img src="https://png.pngtree.com/element_our/20200702/ourlarge/pngtree-vector-crown-vip-icon-element-image_2280858.jpg" alt="Icon" />
          <div class="text-details">
            <h6><span style="color: #4CAF50;" >VIP</span> Membership</h6>
            <p>You are a VIP Member</p>
          </div>
          <p class="saved-amount"><strong>Saved $0.0</strong></p>
        </div>
      </div>
  
      <div class="card-container">
        <div class="card" *ngFor="let card of cards">
          <mat-icon class="card-icons">{{ card.image }}</mat-icon>
      
          <div class="card-details">
            <h6>{{ card.title }}</h6>
            <p>{{ card.description }}</p>
          </div>
          
          <div class="card-main">
            <button class="image-button" (click)="navigateTo(card)">
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
        </div>
      </div>
      
  </div>
  
  <app-tapbar></app-tapbar>