.prod-subs-container {
    display: flex;
    flex-direction: column;
    background-color: #f1f7f7;
    padding: 10px;
  } 
 
  .column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5px 10px;
  }
  
  .column-main {
    display: flex;
    align-items: flex-start;
  }
  
  .row {
    margin-left: 5px;
    text-align: center;
  }
  
  .col-icons mat-icon {
    margin-right: 10px;
    width: 55px;
    height: 30px;
  }
  
  .col-text p {
    margin: 0;
  }
  
  .card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
    padding-bottom: 70px;
  }
  
  .card {
    display: flex;
    align-items: center;
    width:95%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: white;
flex-direction: row;
  }
  
  .card-icons {
    width: 40px;
    height: 40px;
    margin-right: 15px;
  }
  
  .card-details {
    flex: 1;
  }
  
  .card-details h6 {
    margin: 0;
  }
  
  .card-details p {
    margin: 5px 0 0;
  }
  
  .card-main {
    display: flex;
    align-items: center;
  }
  
  .image-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    transition: all 0.3s ease;
  }
  
  .image-button .mat-icon {
    width: 40px;
    height: auto;
    margin-left: 10px;
  }
  
  .card-icons:hover,
  .image-button .mat-icon:hover {
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.7));
  }
  
.image-button:hover {
  color: #555;
}

.offer-card {
  width: 95%; 
  margin: 10px ;
  background:linear-gradient(to right, #e2d2424f, #e4d7608f, #f5c42296);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.offer-details {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}
.offer-details img {
  width: 35px; 
  border-radius: 50%;
  margin: 0 20px 0 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  transition: filter 0.3s ease-in-out; 
}
.text-details, .card-details{
  margin: 2px 0 0 0;
}
.saved-amount {
  color: #4CAF50;
  margin: 20px 0 0 3rem;
}

.save-money-button {
  background-color: #4CAF50; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; 
  transition: background-color 0.3s ease;
}
.save-money-button:hover {
  background-color: #45a049; 
}
p{
  font-size: small;
}
h6{
  margin-top: 5px;
}
.card-details p{
  margin-bottom: 10px;
}