.prod-subs-container {
    display: flex;
    flex-direction: column;
    background-color: #f1f7f7;
    padding: 10px;
  } 
  .sub-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
  }
  
  .column h6 {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .column-main {
    display: flex;
    align-items: flex-start;
  }
  
  .row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
  }
  
  .col-icons mat-icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #172f25e3;
  }
  
  .col-text p {
    margin: 0;
    font-size: 1em;
    color: #555;
  }
  
  @media (max-width: 480px) {
    .column {
      width: 100%; /* For 1 column on small screens */
    }
  }
  
  .card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
    padding-bottom: 70px;
  }
  
  .offer-card, .card {
    width: 95%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: white;
  }
  
  .offer-card {
    background: linear-gradient(to right, #f3eca54f, #f5e9798f, #f5d15b96);
    }
  
  .offer-details, .card {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  
  .offer-details img {
    width: 35px;
    border-radius: 50%;
    margin: 0 20px 0 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    transition: filter 0.3s ease-in-out;
  }
  
  .text-details, .card-details {
    flex: 1;
  }
  
  .card-icons {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    font-size: 35px;
    color: #313439;
  }
  
  .card-details h6, .text-details h6 {
    margin: 0;
    font-size: 1em;
    color: #333;
  }
  
  .card-details p, .text-details p {
    margin: 5px 0 0;
    /* font-size: 0.875em; */
    color: #555;
  }
  
  .card-main {
    display: flex;
    align-items: center;
  }
  
  .image-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    transition: all 0.3s ease;
  }
  
  .image-button .mat-icon {
    width: 40px;
    height: auto;
    margin-left: 10px;
    font-size: 35px;
    color: #313439;
  }
  
  .image-button:hover {
    color: #555;
  }
  
  .card-icons:hover,
  .image-button .mat-icon:hover {
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.7));
  }
  
  .saved-amount {
    color: #4CAF50;
    margin: 20px 0 0 3rem;
    font-size: 0.875em;
  }
  
  .save-money-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .save-money-button:hover {
    background-color: #45a049;
  }
  
  p {
    font-size: small;
  }
  
  h6 {
    margin-top: 5px;
  }
  
  .card-details p, .text-details p {
    margin: 0;
  }
  