<div class="container">
  <ngb-carousel *ngIf="images && images.length > 0">
    <ng-template ngbSlide>
      <div class="logo">
        <img src="..\assets\Images\logo.png" alt="" />
      </div>
      <div class="carousel-caption">
        <p>Enjoy farm-fresh Milk!</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="logo">
        <img src="https://s3.us-west-2.amazonaws.com/customer-app-cards/promotions/milk_1628769125586.png" alt="" />
      </div>
      <div class="carousel-caption">
        <p>100% Natural Milk</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="logo">
        <img
          src="https://cdnasd.countrydelight.in/cdproductimg/new-website/Mask%20Group%2030651%403x_1672914970413.webp"
          alt="" />
      </div>
      <div class="carousel-caption">
        <p>Just Pure Honest Milk At Your Doorstep</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="logo">
        <img
          src="https://cdni.iconscout.com/illustration/premium/thumb/shopping-order-delivery-tracking-4268120-3550584.png"
          alt="" />
      </div>
      <div class="carousel-caption">
        <p>Order Delivery</p>
      </div>
    </ng-template>
  </ngb-carousel>

   <div class="Loginscreen">
    <div class="num">
      <input type="tel" id="mobileNumberInput" placeholder="Enter Mobile number" [(ngModel)]="mobileNumber"
      pattern="[0-9]{10}" required maxlength="10" (click)="showCancellationPopup = true">
    <!-- Continue Button -->
    <button>Continue</button>
    </div>
      
    
   
    <div *ngIf="showCancellationPopup" class="modal-overlay" (click)="goBack()">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <div class="modal-content-wrapper">
          <div class="image-container">
            <h3>Get started</h3>
          </div>
          <div class="input-container">
            <img src="https://cdn.britannica.com/97/1597-050-008F30FA/Flag-India.jpg" alt="">
            <input type="tel" id="mobile_number" placeholder="Enter Mobile number" name="mobile_number" [(ngModel)]="mobile_number"
              pattern="[0-9]{10}" required maxlength="10" #mobileInput="ngModel">

          </div>
        </div>
        <button (click)=" mobileInput.control.markAsTouched(); navigateToNextPage()"
          [disabled]="mobileInput.invalid || mobileNumber.length !== 10 || otpSent">Continue</button>
       

        <div *ngIf="mobileInput.invalid && mobileInput.touched" class="error-message">
          Invalid number
        </div>

       
        <div class="min-message">
          <p>By Continuing, you agree to our <br>&nbsp;&nbsp;
            Terms of service & Privacy of Policy</p>
        </div>
        <div class="border"></div>
      </div>

    </div>


    <div class="message">
      <p>By Signing up you accept to<br>&nbsp;&nbsp;
        Terms and conditions</p>
    </div>
  </div>
</div>