<div class="transaction-header">
  <div class="back-icon" (click)="goBack()">
    <i class="fas fa-chevron-left"></i>
  </div>
  <div class="head">
    <p>Transaction History</p>
  </div>
</div>
<div class="line"></div>
<div class="transaction-wallet-balance">
  <div class="transaction-desc">
    <p>Current Wallet Balance</p>
    <h5>₹ 0.0</h5>
  </div>
  <button (click)="navigateToWallet()">Add Money</button>

</div>
<div class="transaction-main">
  <div class="no-trans">
    <h4 style="text-align: center;">No Transactions</h4>
    <p>You haven't made any transactions,please <br>
      explore our healthy products.
    </p>
    <button mat-raised-button color="primary" (click)="goToProductDetails()">EXPLORE PRODUCTS</button>
  </div>
</div>