.transaction-main{
    background-color: #f1f7f7;
    padding-top: 5px;
    height: 83%;
}
.transaction-header {
    display: flex;
    align-items: center;
        padding: 10px 20px;
        border-bottom: 1px solid #ccc;
        
}
.back-icon {
    top: 10px;
    left: 20px;
    margin-left: 10px;
    display: flex;
    font-size: 20px;
  }
  .head {
    text-align: center;
    margin-left: 5%;
    font-size: 20px;
    margin-top: 8px;
  }
  
  .head p {
    margin-top: 10px;
    font-weight: 500;
  }
.transaction-main p{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin: 1vh;
}
.transaction-header button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.mat-icon {
    width: 30px; 
    height: auto;
}
.mat-icon:hover {
    transform: scale(1.1); 
}
.transaction-wallet-balance {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.transaction-wallet-balance p {
    margin-right: 75px; 
    margin-bottom: .2rem;
}
.transaction-wallet-balance button {
    background-color: #04B56C; 
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 12px;
    margin-right: 10px;
    font-weight: 500;
    padding: 8px 25px;
}
.transaction-main button {
    background-color: #04B56C; 
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    padding: 8px 25px;
}
.transaction-main button {
    margin-left: 7rem;
    margin-top: 1vh;
}
.no-trans{
    margin-top: 10px;
}
.no-trans h4{
    font-weight: 500;
    font-size: 18px;
    margin-top: 3vh;
}
.transaction-desc p{
  font-size: 12px;
  font-weight: 500;
  color: #5d5d5d;
}
.transaction-desc h5{
    font-size: 17px;
    font-weight: 500;
  }

  .spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #1eba62;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }